<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169271304140-25t2m4e5l1h8hk0hfo7efa4peaiamhsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169271304140-25t2m4e5l1h8hk0hfo7efa4peaiamhsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAmZN1Wy0PnaUSfx9HxBAixWs3r0ph3rmg</string>
	<key>GCM_SENDER_ID</key>
	<string>169271304140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pii6</string>
	<key>PROJECT_ID</key>
	<string>cbank-dd3d6</string>
	<key>STORAGE_BUCKET</key>
	<string>cbank-dd3d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169271304140:ios:b272ed27f89fff7b4dc769</string>
</dict>
</plist>